<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb breadcrumb-main">
			<li><a href="#/home">Aplikasi</a></li>
			<li><a href="#/menu/{{curMenu}}">{{getParentTitle()}}</a></li>
			<li class="active"><span class="label label-warning">{{getItemTitle(3)|uppercase}}</span></li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="well widget">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h4 class="text-info"><i class="fa fa-angle-double-right"></i> MONITORING TUSBUNG</h4>
						<div class="spacer-h"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="well">
										<form role="form" class="form-horizontal" name="formi">
											<!--<div class="form-group" data-ng-show="needUnit()">
												<label for="hp-unit" class="col-md-2 col-md-offset-1 control-label">UNIT:</label>
												<div class="col-md-3">
													<select name="unit" id="hp-unit" class="select2" style="width: 100%" data-ng-options="c.id as c.nama for c in unit" data-ng-model="hp.unit" data-ng-change="loadRBM()">
														<option value="0">-- pilih unit --</option>
													</select>
												</div>
											</div>-->
											<div class="form-group">
												<!--<label for="hp-rbm" class="col-md-2 control-label col-md-offset-1">RBM:</label>
												<div class="col-md-3">
													<select name="rbm" id="hp-rbm" class="form-control" data-ng-model="hp.rbm" data-ng-options="c.id as c.nama for c in rbmList">
														<option value="">-- pilih rbm --</option>
													</select>
												</div>-->
												<label for="hp-tgl" class="col-md-2 col-md-offset-1 control-label">TANGGAL:</label>
												<div class="col-md-3">
													<input type="text" name="tanggal" id="hp-tgl" class="form-control" data-ng-model="hp.tgl" datepicker>
												</div>
												<div class="col-md-4 col-md-offset-1">
													<button class="btn btn-primary" data-ng-click="loadTusbung()"><i class="fa fa-fw fa-search"></i> Tampilkan</button> 
												</div>
											</div>
										</form>
									</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<table class="table table-bordered table-condensed table-striped table-hover" data-ng-show="tusbung.length > 0">
										<thead>
											<tr>
												<th>JAM TUSBUNG</th>
												<th>PETUGAS</th>
												<th>IDPEL</th>
												<th>NAMA</th>
												<th>ALAMAT</th>
												<th>TARIF/DAYA</th>
												<th>KETERANGAN</th>
												<th>FOTO 1</th>
												<th>FOTO 2</th>
												<th>LEMBAR</th>
												<th>RPTG</th>
												<th>RPBK</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="c in tusbung">
												<td>{{c.jam}}</td>
												<td>{{c.petugas}}</td>
												<td>{{c.idpel}}</td>
												<td>{{c.nama}}</td>
												<td>{{c.alamat}}</td>
												<td>{{c.td}}</td>
												<td>{{c.ketbaca}}</td>
												<td><a href="" data-target="{{server}}{{c.foto1}}" image-preview><img data-ng-src="{{server}}{{c.foto1}}?thumb" alt="foto meter" class="img-thumbnail img-preview"></a></td>
												<td><a href="" data-target="{{server}}{{c.foto2}}" image-preview><img data-ng-src="{{server}}{{c.foto2}}?thumb" alt="foto meter" class="img-thumbnail img-preview"></a></td>
												<td>{{c.lembar}}</td>
												<td>{{c.rptag}}</td>
												<td>{{c.rpbk}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>